$Purple: #a729f5;
$Pure-White: #ffffff;
$Dark-Navy: #313e51;
$shadow: rgba(143, 160, 193, 0.14);

$img-html: rgba(255, 126, 51, 0.1);
$img-css: rgba(46, 217, 134, 0.1);
$img-js: rgba(46, 105, 255, 0.1);
$img-accessibility: rgba(167, 41, 245, 0.1);
$option-span: rgba(244, 246, 250, 1);
$hover-bg: rgba(167, 41, 245, 0.1);
$correct-border: #26d782;
$wrong-border: #ee5454;
$dark-box-body: #3b4d66;
$dark-box: #3b4d66;
$body-bg: #f4f6fa;
$body-color: #313e51;
$p-color: #626c7f;

$family: "Rubik", sans-serif;